@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.header{
    padding-top: 10px;
}

.header,
.hero {
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    align-items: center;
}

.links {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 25px;
}

.logo,
.links {
    margin: 5px 0;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    margin-right: 25px;
}

.header,
.hero,
.footer {
    background-color: #1f2937;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.hero,
.info,
.quote,
.cta {
    flex: 1
}

.hero {
    padding-top: 100px;
    padding-bottom: 100px;
}

.hero .heading {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
}

.hero .subtext {
    margin: 0px 0 10px;
}

.hero .image {
    height: 200px;
    width: 450px;
}

.image {
    flex-shrink: 0;
}

.header a,
.hero .subtext {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.info {
    text-align: center;
    padding: 40px 0 90px;
}

.info .heading {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 40px;
}

.items {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item .image {
    width: 145px;
    height: 145px;
    border-radius: 13px;
    border: 4px #3882F6 solid
}

.item .text {
    margin: 5px 0 0;
}

.quote {
    background-color: #e5e7eb;
    padding: 80px 430px 60px;
}

.quote .text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
    margin: 0;
}

.author {
    font-weight: bold;
    color: #1f2937;
    text-align: right;
    margin: 0;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 200px;
}

.banner {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
    border-radius: 10px;
}

.banner .title,
.banner .subtext {
    margin: 0;
}

.banner .title {
    color: #f9faf8;
    font-weight: 600;
}

.banner .subtext,
.footer {
    color: #e5e7eb;
    font-size: smaller;
}

button,
.cta .banner {
    background-color: #3882F6
}

button {
    color: #f9faf8;
    padding: 5px 30px;
    font-weight: bold;
    border-radius: 7px;
}

.hero button {
    border: 2px #3882F6 solid;
}

.cta button {
    border: 2px white solid;
}

.footer {
    text-align: center;
    padding: 20px
}

/* * {
    border: 1px solid red
} */