@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

ul { 
    list-style-type: none;
    padding: 0;
}

.header,
.hero,
.footer {
    background-color: #1f2937;
}

.content { flex: 1; }

.hero .heading {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.header a,
.hero .subtext {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.info .heading {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.quote {
    background-color: #e5e7eb;
}

.quote .text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

.author {
    font-weight: bold;
    color: #1f2937;
}

button,
.cta .banner {
    background-color: #3882F6
}

* {
    border: 1px solid red
}